@font-face {
    font-family: "vine81";
    src: url("./vine81.eot?d5570f1eb2d3ee16e04e1e996cf5690a?#iefix") format("embedded-opentype"),
url("./vine81.woff2?d5570f1eb2d3ee16e04e1e996cf5690a") format("woff2"),
url("./vine81.woff?d5570f1eb2d3ee16e04e1e996cf5690a") format("woff"),
url("./vine81.ttf?d5570f1eb2d3ee16e04e1e996cf5690a") format("truetype"),
url("./vine81.svg?d5570f1eb2d3ee16e04e1e996cf5690a#vine81") format("svg");
}

ttf[class^="icon-"]:before, ttf[class*=" icon-"]:before {
    font-family: vine81 !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-vine_0000_00_empty:before {
    content: "\f101";
}
.icon-vine_0000_01_stem:before {
    content: "\f102";
}
.icon-vine_0000_02_corner:before {
    content: "\f103";
}
.icon-vine_0000_03_tee:before {
    content: "\f104";
}
.icon-vine_0000_04_cross:before {
    content: "\f105";
}
.icon-vine_0000_05_leaf:before {
    content: "\f106";
}
.icon-vine_0000_06_bud:before {
    content: "\f107";
}
.icon-vine_0000_07_flower:before {
    content: "\f108";
}
.icon-vine_0000_08_fruit:before {
    content: "\f109";
}
.icon-vine_0000_09_root:before {
    content: "\f10a";
}
.icon-vine_0000_10_node:before {
    content: "\f10b";
}
.icon-vine_0001_00_empty:before {
    content: "\f10c";
}
.icon-vine_0001_01_stem:before {
    content: "\f10d";
}
.icon-vine_0001_02_corner:before {
    content: "\f10e";
}
.icon-vine_0001_03_tee:before {
    content: "\f10f";
}
.icon-vine_0001_04_cross:before {
    content: "\f110";
}
.icon-vine_0001_05_leaf:before {
    content: "\f111";
}
.icon-vine_0001_06_bud:before {
    content: "\f112";
}
.icon-vine_0001_07_flower:before {
    content: "\f113";
}
.icon-vine_0001_08_fruit:before {
    content: "\f114";
}
.icon-vine_0001_09_root:before {
    content: "\f115";
}
.icon-vine_0001_10_node:before {
    content: "\f116";
}
.icon-vine_0002_00_empty:before {
    content: "\f117";
}
.icon-vine_0002_01_stem:before {
    content: "\f118";
}
.icon-vine_0002_02_corner:before {
    content: "\f119";
}
.icon-vine_0002_03_tee:before {
    content: "\f11a";
}
.icon-vine_0002_04_cross:before {
    content: "\f11b";
}
.icon-vine_0002_05_leaf:before {
    content: "\f11c";
}
.icon-vine_0002_06_bud:before {
    content: "\f11d";
}
.icon-vine_0002_07_flower:before {
    content: "\f11e";
}
.icon-vine_0002_08_fruit:before {
    content: "\f11f";
}
.icon-vine_0002_09_root:before {
    content: "\f120";
}
.icon-vine_0002_10_node:before {
    content: "\f121";
}
.icon-vine_0010_00_empty:before {
    content: "\f122";
}
.icon-vine_0010_01_stem:before {
    content: "\f123";
}
.icon-vine_0010_02_corner:before {
    content: "\f124";
}
.icon-vine_0010_03_tee:before {
    content: "\f125";
}
.icon-vine_0010_04_cross:before {
    content: "\f126";
}
.icon-vine_0010_05_leaf:before {
    content: "\f127";
}
.icon-vine_0010_06_bud:before {
    content: "\f128";
}
.icon-vine_0010_07_flower:before {
    content: "\f129";
}
.icon-vine_0010_08_fruit:before {
    content: "\f12a";
}
.icon-vine_0010_09_root:before {
    content: "\f12b";
}
.icon-vine_0010_10_node:before {
    content: "\f12c";
}
.icon-vine_0011_00_empty:before {
    content: "\f12d";
}
.icon-vine_0011_01_stem:before {
    content: "\f12e";
}
.icon-vine_0011_02_corner:before {
    content: "\f12f";
}
.icon-vine_0011_03_tee:before {
    content: "\f130";
}
.icon-vine_0011_04_cross:before {
    content: "\f131";
}
.icon-vine_0011_05_leaf:before {
    content: "\f132";
}
.icon-vine_0011_06_bud:before {
    content: "\f133";
}
.icon-vine_0011_07_flower:before {
    content: "\f134";
}
.icon-vine_0011_08_fruit:before {
    content: "\f135";
}
.icon-vine_0011_09_root:before {
    content: "\f136";
}
.icon-vine_0011_10_node:before {
    content: "\f137";
}
.icon-vine_0012_00_empty:before {
    content: "\f138";
}
.icon-vine_0012_01_stem:before {
    content: "\f139";
}
.icon-vine_0012_02_corner:before {
    content: "\f13a";
}
.icon-vine_0012_03_tee:before {
    content: "\f13b";
}
.icon-vine_0012_04_cross:before {
    content: "\f13c";
}
.icon-vine_0012_05_leaf:before {
    content: "\f13d";
}
.icon-vine_0012_06_bud:before {
    content: "\f13e";
}
.icon-vine_0012_07_flower:before {
    content: "\f13f";
}
.icon-vine_0012_08_fruit:before {
    content: "\f140";
}
.icon-vine_0012_09_root:before {
    content: "\f141";
}
.icon-vine_0012_10_node:before {
    content: "\f142";
}
.icon-vine_0020_00_empty:before {
    content: "\f143";
}
.icon-vine_0020_01_stem:before {
    content: "\f144";
}
.icon-vine_0020_02_corner:before {
    content: "\f145";
}
.icon-vine_0020_03_tee:before {
    content: "\f146";
}
.icon-vine_0020_04_cross:before {
    content: "\f147";
}
.icon-vine_0020_05_leaf:before {
    content: "\f148";
}
.icon-vine_0020_06_bud:before {
    content: "\f149";
}
.icon-vine_0020_07_flower:before {
    content: "\f14a";
}
.icon-vine_0020_08_fruit:before {
    content: "\f14b";
}
.icon-vine_0020_09_root:before {
    content: "\f14c";
}
.icon-vine_0020_10_node:before {
    content: "\f14d";
}
.icon-vine_0021_00_empty:before {
    content: "\f14e";
}
.icon-vine_0021_01_stem:before {
    content: "\f14f";
}
.icon-vine_0021_02_corner:before {
    content: "\f150";
}
.icon-vine_0021_03_tee:before {
    content: "\f151";
}
.icon-vine_0021_04_cross:before {
    content: "\f152";
}
.icon-vine_0021_05_leaf:before {
    content: "\f153";
}
.icon-vine_0021_06_bud:before {
    content: "\f154";
}
.icon-vine_0021_07_flower:before {
    content: "\f155";
}
.icon-vine_0021_08_fruit:before {
    content: "\f156";
}
.icon-vine_0021_09_root:before {
    content: "\f157";
}
.icon-vine_0021_10_node:before {
    content: "\f158";
}
.icon-vine_0022_00_empty:before {
    content: "\f159";
}
.icon-vine_0022_01_stem:before {
    content: "\f15a";
}
.icon-vine_0022_02_corner:before {
    content: "\f15b";
}
.icon-vine_0022_03_tee:before {
    content: "\f15c";
}
.icon-vine_0022_04_cross:before {
    content: "\f15d";
}
.icon-vine_0022_05_leaf:before {
    content: "\f15e";
}
.icon-vine_0022_06_bud:before {
    content: "\f15f";
}
.icon-vine_0022_07_flower:before {
    content: "\f160";
}
.icon-vine_0022_08_fruit:before {
    content: "\f161";
}
.icon-vine_0022_09_root:before {
    content: "\f162";
}
.icon-vine_0022_10_node:before {
    content: "\f163";
}
.icon-vine_0100_00_empty:before {
    content: "\f164";
}
.icon-vine_0100_01_stem:before {
    content: "\f165";
}
.icon-vine_0100_02_corner:before {
    content: "\f166";
}
.icon-vine_0100_03_tee:before {
    content: "\f167";
}
.icon-vine_0100_04_cross:before {
    content: "\f168";
}
.icon-vine_0100_05_leaf:before {
    content: "\f169";
}
.icon-vine_0100_06_bud:before {
    content: "\f16a";
}
.icon-vine_0100_07_flower:before {
    content: "\f16b";
}
.icon-vine_0100_08_fruit:before {
    content: "\f16c";
}
.icon-vine_0100_09_root:before {
    content: "\f16d";
}
.icon-vine_0100_10_node:before {
    content: "\f16e";
}
.icon-vine_0101_00_empty:before {
    content: "\f16f";
}
.icon-vine_0101_01_stem:before {
    content: "\f170";
}
.icon-vine_0101_02_corner:before {
    content: "\f171";
}
.icon-vine_0101_03_tee:before {
    content: "\f172";
}
.icon-vine_0101_04_cross:before {
    content: "\f173";
}
.icon-vine_0101_05_leaf:before {
    content: "\f174";
}
.icon-vine_0101_06_bud:before {
    content: "\f175";
}
.icon-vine_0101_07_flower:before {
    content: "\f176";
}
.icon-vine_0101_08_fruit:before {
    content: "\f177";
}
.icon-vine_0101_09_root:before {
    content: "\f178";
}
.icon-vine_0101_10_node:before {
    content: "\f179";
}
.icon-vine_0102_00_empty:before {
    content: "\f17a";
}
.icon-vine_0102_01_stem:before {
    content: "\f17b";
}
.icon-vine_0102_02_corner:before {
    content: "\f17c";
}
.icon-vine_0102_03_tee:before {
    content: "\f17d";
}
.icon-vine_0102_04_cross:before {
    content: "\f17e";
}
.icon-vine_0102_05_leaf:before {
    content: "\f17f";
}
.icon-vine_0102_06_bud:before {
    content: "\f180";
}
.icon-vine_0102_07_flower:before {
    content: "\f181";
}
.icon-vine_0102_08_fruit:before {
    content: "\f182";
}
.icon-vine_0102_09_root:before {
    content: "\f183";
}
.icon-vine_0102_10_node:before {
    content: "\f184";
}
.icon-vine_0110_00_empty:before {
    content: "\f185";
}
.icon-vine_0110_01_stem:before {
    content: "\f186";
}
.icon-vine_0110_02_corner:before {
    content: "\f187";
}
.icon-vine_0110_03_tee:before {
    content: "\f188";
}
.icon-vine_0110_04_cross:before {
    content: "\f189";
}
.icon-vine_0110_05_leaf:before {
    content: "\f18a";
}
.icon-vine_0110_06_bud:before {
    content: "\f18b";
}
.icon-vine_0110_07_flower:before {
    content: "\f18c";
}
.icon-vine_0110_08_fruit:before {
    content: "\f18d";
}
.icon-vine_0110_09_root:before {
    content: "\f18e";
}
.icon-vine_0110_10_node:before {
    content: "\f18f";
}
.icon-vine_0111_00_empty:before {
    content: "\f190";
}
.icon-vine_0111_01_stem:before {
    content: "\f191";
}
.icon-vine_0111_02_corner:before {
    content: "\f192";
}
.icon-vine_0111_03_tee:before {
    content: "\f193";
}
.icon-vine_0111_04_cross:before {
    content: "\f194";
}
.icon-vine_0111_05_leaf:before {
    content: "\f195";
}
.icon-vine_0111_06_bud:before {
    content: "\f196";
}
.icon-vine_0111_07_flower:before {
    content: "\f197";
}
.icon-vine_0111_08_fruit:before {
    content: "\f198";
}
.icon-vine_0111_09_root:before {
    content: "\f199";
}
.icon-vine_0111_10_node:before {
    content: "\f19a";
}
.icon-vine_0112_00_empty:before {
    content: "\f19b";
}
.icon-vine_0112_01_stem:before {
    content: "\f19c";
}
.icon-vine_0112_02_corner:before {
    content: "\f19d";
}
.icon-vine_0112_03_tee:before {
    content: "\f19e";
}
.icon-vine_0112_04_cross:before {
    content: "\f19f";
}
.icon-vine_0112_05_leaf:before {
    content: "\f1a0";
}
.icon-vine_0112_06_bud:before {
    content: "\f1a1";
}
.icon-vine_0112_07_flower:before {
    content: "\f1a2";
}
.icon-vine_0112_08_fruit:before {
    content: "\f1a3";
}
.icon-vine_0112_09_root:before {
    content: "\f1a4";
}
.icon-vine_0112_10_node:before {
    content: "\f1a5";
}
.icon-vine_0120_00_empty:before {
    content: "\f1a6";
}
.icon-vine_0120_01_stem:before {
    content: "\f1a7";
}
.icon-vine_0120_02_corner:before {
    content: "\f1a8";
}
.icon-vine_0120_03_tee:before {
    content: "\f1a9";
}
.icon-vine_0120_04_cross:before {
    content: "\f1aa";
}
.icon-vine_0120_05_leaf:before {
    content: "\f1ab";
}
.icon-vine_0120_06_bud:before {
    content: "\f1ac";
}
.icon-vine_0120_07_flower:before {
    content: "\f1ad";
}
.icon-vine_0120_08_fruit:before {
    content: "\f1ae";
}
.icon-vine_0120_09_root:before {
    content: "\f1af";
}
.icon-vine_0120_10_node:before {
    content: "\f1b0";
}
.icon-vine_0121_00_empty:before {
    content: "\f1b1";
}
.icon-vine_0121_01_stem:before {
    content: "\f1b2";
}
.icon-vine_0121_02_corner:before {
    content: "\f1b3";
}
.icon-vine_0121_03_tee:before {
    content: "\f1b4";
}
.icon-vine_0121_04_cross:before {
    content: "\f1b5";
}
.icon-vine_0121_05_leaf:before {
    content: "\f1b6";
}
.icon-vine_0121_06_bud:before {
    content: "\f1b7";
}
.icon-vine_0121_07_flower:before {
    content: "\f1b8";
}
.icon-vine_0121_08_fruit:before {
    content: "\f1b9";
}
.icon-vine_0121_09_root:before {
    content: "\f1ba";
}
.icon-vine_0121_10_node:before {
    content: "\f1bb";
}
.icon-vine_0122_00_empty:before {
    content: "\f1bc";
}
.icon-vine_0122_01_stem:before {
    content: "\f1bd";
}
.icon-vine_0122_02_corner:before {
    content: "\f1be";
}
.icon-vine_0122_03_tee:before {
    content: "\f1bf";
}
.icon-vine_0122_04_cross:before {
    content: "\f1c0";
}
.icon-vine_0122_05_leaf:before {
    content: "\f1c1";
}
.icon-vine_0122_06_bud:before {
    content: "\f1c2";
}
.icon-vine_0122_07_flower:before {
    content: "\f1c3";
}
.icon-vine_0122_08_fruit:before {
    content: "\f1c4";
}
.icon-vine_0122_09_root:before {
    content: "\f1c5";
}
.icon-vine_0122_10_node:before {
    content: "\f1c6";
}
.icon-vine_0200_00_empty:before {
    content: "\f1c7";
}
.icon-vine_0200_01_stem:before {
    content: "\f1c8";
}
.icon-vine_0200_02_corner:before {
    content: "\f1c9";
}
.icon-vine_0200_03_tee:before {
    content: "\f1ca";
}
.icon-vine_0200_04_cross:before {
    content: "\f1cb";
}
.icon-vine_0200_05_leaf:before {
    content: "\f1cc";
}
.icon-vine_0200_06_bud:before {
    content: "\f1cd";
}
.icon-vine_0200_07_flower:before {
    content: "\f1ce";
}
.icon-vine_0200_08_fruit:before {
    content: "\f1cf";
}
.icon-vine_0200_09_root:before {
    content: "\f1d0";
}
.icon-vine_0200_10_node:before {
    content: "\f1d1";
}
.icon-vine_0201_00_empty:before {
    content: "\f1d2";
}
.icon-vine_0201_01_stem:before {
    content: "\f1d3";
}
.icon-vine_0201_02_corner:before {
    content: "\f1d4";
}
.icon-vine_0201_03_tee:before {
    content: "\f1d5";
}
.icon-vine_0201_04_cross:before {
    content: "\f1d6";
}
.icon-vine_0201_05_leaf:before {
    content: "\f1d7";
}
.icon-vine_0201_06_bud:before {
    content: "\f1d8";
}
.icon-vine_0201_07_flower:before {
    content: "\f1d9";
}
.icon-vine_0201_08_fruit:before {
    content: "\f1da";
}
.icon-vine_0201_09_root:before {
    content: "\f1db";
}
.icon-vine_0201_10_node:before {
    content: "\f1dc";
}
.icon-vine_0202_00_empty:before {
    content: "\f1dd";
}
.icon-vine_0202_01_stem:before {
    content: "\f1de";
}
.icon-vine_0202_02_corner:before {
    content: "\f1df";
}
.icon-vine_0202_03_tee:before {
    content: "\f1e0";
}
.icon-vine_0202_04_cross:before {
    content: "\f1e1";
}
.icon-vine_0202_05_leaf:before {
    content: "\f1e2";
}
.icon-vine_0202_06_bud:before {
    content: "\f1e3";
}
.icon-vine_0202_07_flower:before {
    content: "\f1e4";
}
.icon-vine_0202_08_fruit:before {
    content: "\f1e5";
}
.icon-vine_0202_09_root:before {
    content: "\f1e6";
}
.icon-vine_0202_10_node:before {
    content: "\f1e7";
}
.icon-vine_0210_00_empty:before {
    content: "\f1e8";
}
.icon-vine_0210_01_stem:before {
    content: "\f1e9";
}
.icon-vine_0210_02_corner:before {
    content: "\f1ea";
}
.icon-vine_0210_03_tee:before {
    content: "\f1eb";
}
.icon-vine_0210_04_cross:before {
    content: "\f1ec";
}
.icon-vine_0210_05_leaf:before {
    content: "\f1ed";
}
.icon-vine_0210_06_bud:before {
    content: "\f1ee";
}
.icon-vine_0210_07_flower:before {
    content: "\f1ef";
}
.icon-vine_0210_08_fruit:before {
    content: "\f1f0";
}
.icon-vine_0210_09_root:before {
    content: "\f1f1";
}
.icon-vine_0210_10_node:before {
    content: "\f1f2";
}
.icon-vine_0211_00_empty:before {
    content: "\f1f3";
}
.icon-vine_0211_01_stem:before {
    content: "\f1f4";
}
.icon-vine_0211_02_corner:before {
    content: "\f1f5";
}
.icon-vine_0211_03_tee:before {
    content: "\f1f6";
}
.icon-vine_0211_04_cross:before {
    content: "\f1f7";
}
.icon-vine_0211_05_leaf:before {
    content: "\f1f8";
}
.icon-vine_0211_06_bud:before {
    content: "\f1f9";
}
.icon-vine_0211_07_flower:before {
    content: "\f1fa";
}
.icon-vine_0211_08_fruit:before {
    content: "\f1fb";
}
.icon-vine_0211_09_root:before {
    content: "\f1fc";
}
.icon-vine_0211_10_node:before {
    content: "\f1fd";
}
.icon-vine_0212_00_empty:before {
    content: "\f1fe";
}
.icon-vine_0212_01_stem:before {
    content: "\f1ff";
}
.icon-vine_0212_02_corner:before {
    content: "\f200";
}
.icon-vine_0212_03_tee:before {
    content: "\f201";
}
.icon-vine_0212_04_cross:before {
    content: "\f202";
}
.icon-vine_0212_05_leaf:before {
    content: "\f203";
}
.icon-vine_0212_06_bud:before {
    content: "\f204";
}
.icon-vine_0212_07_flower:before {
    content: "\f205";
}
.icon-vine_0212_08_fruit:before {
    content: "\f206";
}
.icon-vine_0212_09_root:before {
    content: "\f207";
}
.icon-vine_0212_10_node:before {
    content: "\f208";
}
.icon-vine_0220_00_empty:before {
    content: "\f209";
}
.icon-vine_0220_01_stem:before {
    content: "\f20a";
}
.icon-vine_0220_02_corner:before {
    content: "\f20b";
}
.icon-vine_0220_03_tee:before {
    content: "\f20c";
}
.icon-vine_0220_04_cross:before {
    content: "\f20d";
}
.icon-vine_0220_05_leaf:before {
    content: "\f20e";
}
.icon-vine_0220_06_bud:before {
    content: "\f20f";
}
.icon-vine_0220_07_flower:before {
    content: "\f210";
}
.icon-vine_0220_08_fruit:before {
    content: "\f211";
}
.icon-vine_0220_09_root:before {
    content: "\f212";
}
.icon-vine_0220_10_node:before {
    content: "\f213";
}
.icon-vine_0221_00_empty:before {
    content: "\f214";
}
.icon-vine_0221_01_stem:before {
    content: "\f215";
}
.icon-vine_0221_02_corner:before {
    content: "\f216";
}
.icon-vine_0221_03_tee:before {
    content: "\f217";
}
.icon-vine_0221_04_cross:before {
    content: "\f218";
}
.icon-vine_0221_05_leaf:before {
    content: "\f219";
}
.icon-vine_0221_06_bud:before {
    content: "\f21a";
}
.icon-vine_0221_07_flower:before {
    content: "\f21b";
}
.icon-vine_0221_08_fruit:before {
    content: "\f21c";
}
.icon-vine_0221_09_root:before {
    content: "\f21d";
}
.icon-vine_0221_10_node:before {
    content: "\f21e";
}
.icon-vine_0222_00_empty:before {
    content: "\f21f";
}
.icon-vine_0222_01_stem:before {
    content: "\f220";
}
.icon-vine_0222_02_corner:before {
    content: "\f221";
}
.icon-vine_0222_03_tee:before {
    content: "\f222";
}
.icon-vine_0222_04_cross:before {
    content: "\f223";
}
.icon-vine_0222_05_leaf:before {
    content: "\f224";
}
.icon-vine_0222_06_bud:before {
    content: "\f225";
}
.icon-vine_0222_07_flower:before {
    content: "\f226";
}
.icon-vine_0222_08_fruit:before {
    content: "\f227";
}
.icon-vine_0222_09_root:before {
    content: "\f228";
}
.icon-vine_0222_10_node:before {
    content: "\f229";
}
.icon-vine_1000_00_empty:before {
    content: "\f22a";
}
.icon-vine_1000_01_stem:before {
    content: "\f22b";
}
.icon-vine_1000_02_corner:before {
    content: "\f22c";
}
.icon-vine_1000_03_tee:before {
    content: "\f22d";
}
.icon-vine_1000_04_cross:before {
    content: "\f22e";
}
.icon-vine_1000_05_leaf:before {
    content: "\f22f";
}
.icon-vine_1000_06_bud:before {
    content: "\f230";
}
.icon-vine_1000_07_flower:before {
    content: "\f231";
}
.icon-vine_1000_08_fruit:before {
    content: "\f232";
}
.icon-vine_1000_09_root:before {
    content: "\f233";
}
.icon-vine_1000_10_node:before {
    content: "\f234";
}
.icon-vine_1001_00_empty:before {
    content: "\f235";
}
.icon-vine_1001_01_stem:before {
    content: "\f236";
}
.icon-vine_1001_02_corner:before {
    content: "\f237";
}
.icon-vine_1001_03_tee:before {
    content: "\f238";
}
.icon-vine_1001_04_cross:before {
    content: "\f239";
}
.icon-vine_1001_05_leaf:before {
    content: "\f23a";
}
.icon-vine_1001_06_bud:before {
    content: "\f23b";
}
.icon-vine_1001_07_flower:before {
    content: "\f23c";
}
.icon-vine_1001_08_fruit:before {
    content: "\f23d";
}
.icon-vine_1001_09_root:before {
    content: "\f23e";
}
.icon-vine_1001_10_node:before {
    content: "\f23f";
}
.icon-vine_1002_00_empty:before {
    content: "\f240";
}
.icon-vine_1002_01_stem:before {
    content: "\f241";
}
.icon-vine_1002_02_corner:before {
    content: "\f242";
}
.icon-vine_1002_03_tee:before {
    content: "\f243";
}
.icon-vine_1002_04_cross:before {
    content: "\f244";
}
.icon-vine_1002_05_leaf:before {
    content: "\f245";
}
.icon-vine_1002_06_bud:before {
    content: "\f246";
}
.icon-vine_1002_07_flower:before {
    content: "\f247";
}
.icon-vine_1002_08_fruit:before {
    content: "\f248";
}
.icon-vine_1002_09_root:before {
    content: "\f249";
}
.icon-vine_1002_10_node:before {
    content: "\f24a";
}
.icon-vine_1010_00_empty:before {
    content: "\f24b";
}
.icon-vine_1010_01_stem:before {
    content: "\f24c";
}
.icon-vine_1010_02_corner:before {
    content: "\f24d";
}
.icon-vine_1010_03_tee:before {
    content: "\f24e";
}
.icon-vine_1010_04_cross:before {
    content: "\f24f";
}
.icon-vine_1010_05_leaf:before {
    content: "\f250";
}
.icon-vine_1010_06_bud:before {
    content: "\f251";
}
.icon-vine_1010_07_flower:before {
    content: "\f252";
}
.icon-vine_1010_08_fruit:before {
    content: "\f253";
}
.icon-vine_1010_09_root:before {
    content: "\f254";
}
.icon-vine_1010_10_node:before {
    content: "\f255";
}
.icon-vine_1011_00_empty:before {
    content: "\f256";
}
.icon-vine_1011_01_stem:before {
    content: "\f257";
}
.icon-vine_1011_02_corner:before {
    content: "\f258";
}
.icon-vine_1011_03_tee:before {
    content: "\f259";
}
.icon-vine_1011_04_cross:before {
    content: "\f25a";
}
.icon-vine_1011_05_leaf:before {
    content: "\f25b";
}
.icon-vine_1011_06_bud:before {
    content: "\f25c";
}
.icon-vine_1011_07_flower:before {
    content: "\f25d";
}
.icon-vine_1011_08_fruit:before {
    content: "\f25e";
}
.icon-vine_1011_09_root:before {
    content: "\f25f";
}
.icon-vine_1011_10_node:before {
    content: "\f260";
}
.icon-vine_1012_00_empty:before {
    content: "\f261";
}
.icon-vine_1012_01_stem:before {
    content: "\f262";
}
.icon-vine_1012_02_corner:before {
    content: "\f263";
}
.icon-vine_1012_03_tee:before {
    content: "\f264";
}
.icon-vine_1012_04_cross:before {
    content: "\f265";
}
.icon-vine_1012_05_leaf:before {
    content: "\f266";
}
.icon-vine_1012_06_bud:before {
    content: "\f267";
}
.icon-vine_1012_07_flower:before {
    content: "\f268";
}
.icon-vine_1012_08_fruit:before {
    content: "\f269";
}
.icon-vine_1012_09_root:before {
    content: "\f26a";
}
.icon-vine_1012_10_node:before {
    content: "\f26b";
}
.icon-vine_1020_00_empty:before {
    content: "\f26c";
}
.icon-vine_1020_01_stem:before {
    content: "\f26d";
}
.icon-vine_1020_02_corner:before {
    content: "\f26e";
}
.icon-vine_1020_03_tee:before {
    content: "\f26f";
}
.icon-vine_1020_04_cross:before {
    content: "\f270";
}
.icon-vine_1020_05_leaf:before {
    content: "\f271";
}
.icon-vine_1020_06_bud:before {
    content: "\f272";
}
.icon-vine_1020_07_flower:before {
    content: "\f273";
}
.icon-vine_1020_08_fruit:before {
    content: "\f274";
}
.icon-vine_1020_09_root:before {
    content: "\f275";
}
.icon-vine_1020_10_node:before {
    content: "\f276";
}
.icon-vine_1021_00_empty:before {
    content: "\f277";
}
.icon-vine_1021_01_stem:before {
    content: "\f278";
}
.icon-vine_1021_02_corner:before {
    content: "\f279";
}
.icon-vine_1021_03_tee:before {
    content: "\f27a";
}
.icon-vine_1021_04_cross:before {
    content: "\f27b";
}
.icon-vine_1021_05_leaf:before {
    content: "\f27c";
}
.icon-vine_1021_06_bud:before {
    content: "\f27d";
}
.icon-vine_1021_07_flower:before {
    content: "\f27e";
}
.icon-vine_1021_08_fruit:before {
    content: "\f27f";
}
.icon-vine_1021_09_root:before {
    content: "\f280";
}
.icon-vine_1021_10_node:before {
    content: "\f281";
}
.icon-vine_1022_00_empty:before {
    content: "\f282";
}
.icon-vine_1022_01_stem:before {
    content: "\f283";
}
.icon-vine_1022_02_corner:before {
    content: "\f284";
}
.icon-vine_1022_03_tee:before {
    content: "\f285";
}
.icon-vine_1022_04_cross:before {
    content: "\f286";
}
.icon-vine_1022_05_leaf:before {
    content: "\f287";
}
.icon-vine_1022_06_bud:before {
    content: "\f288";
}
.icon-vine_1022_07_flower:before {
    content: "\f289";
}
.icon-vine_1022_08_fruit:before {
    content: "\f28a";
}
.icon-vine_1022_09_root:before {
    content: "\f28b";
}
.icon-vine_1022_10_node:before {
    content: "\f28c";
}
.icon-vine_1100_00_empty:before {
    content: "\f28d";
}
.icon-vine_1100_01_stem:before {
    content: "\f28e";
}
.icon-vine_1100_02_corner:before {
    content: "\f28f";
}
.icon-vine_1100_03_tee:before {
    content: "\f290";
}
.icon-vine_1100_04_cross:before {
    content: "\f291";
}
.icon-vine_1100_05_leaf:before {
    content: "\f292";
}
.icon-vine_1100_06_bud:before {
    content: "\f293";
}
.icon-vine_1100_07_flower:before {
    content: "\f294";
}
.icon-vine_1100_08_fruit:before {
    content: "\f295";
}
.icon-vine_1100_09_root:before {
    content: "\f296";
}
.icon-vine_1100_10_node:before {
    content: "\f297";
}
.icon-vine_1101_00_empty:before {
    content: "\f298";
}
.icon-vine_1101_01_stem:before {
    content: "\f299";
}
.icon-vine_1101_02_corner:before {
    content: "\f29a";
}
.icon-vine_1101_03_tee:before {
    content: "\f29b";
}
.icon-vine_1101_04_cross:before {
    content: "\f29c";
}
.icon-vine_1101_05_leaf:before {
    content: "\f29d";
}
.icon-vine_1101_06_bud:before {
    content: "\f29e";
}
.icon-vine_1101_07_flower:before {
    content: "\f29f";
}
.icon-vine_1101_08_fruit:before {
    content: "\f2a0";
}
.icon-vine_1101_09_root:before {
    content: "\f2a1";
}
.icon-vine_1101_10_node:before {
    content: "\f2a2";
}
.icon-vine_1102_00_empty:before {
    content: "\f2a3";
}
.icon-vine_1102_01_stem:before {
    content: "\f2a4";
}
.icon-vine_1102_02_corner:before {
    content: "\f2a5";
}
.icon-vine_1102_03_tee:before {
    content: "\f2a6";
}
.icon-vine_1102_04_cross:before {
    content: "\f2a7";
}
.icon-vine_1102_05_leaf:before {
    content: "\f2a8";
}
.icon-vine_1102_06_bud:before {
    content: "\f2a9";
}
.icon-vine_1102_07_flower:before {
    content: "\f2aa";
}
.icon-vine_1102_08_fruit:before {
    content: "\f2ab";
}
.icon-vine_1102_09_root:before {
    content: "\f2ac";
}
.icon-vine_1102_10_node:before {
    content: "\f2ad";
}
.icon-vine_1110_00_empty:before {
    content: "\f2ae";
}
.icon-vine_1110_01_stem:before {
    content: "\f2af";
}
.icon-vine_1110_02_corner:before {
    content: "\f2b0";
}
.icon-vine_1110_03_tee:before {
    content: "\f2b1";
}
.icon-vine_1110_04_cross:before {
    content: "\f2b2";
}
.icon-vine_1110_05_leaf:before {
    content: "\f2b3";
}
.icon-vine_1110_06_bud:before {
    content: "\f2b4";
}
.icon-vine_1110_07_flower:before {
    content: "\f2b5";
}
.icon-vine_1110_08_fruit:before {
    content: "\f2b6";
}
.icon-vine_1110_09_root:before {
    content: "\f2b7";
}
.icon-vine_1110_10_node:before {
    content: "\f2b8";
}
.icon-vine_1111_00_empty:before {
    content: "\f2b9";
}
.icon-vine_1111_01_stem:before {
    content: "\f2ba";
}
.icon-vine_1111_02_corner:before {
    content: "\f2bb";
}
.icon-vine_1111_03_tee:before {
    content: "\f2bc";
}
.icon-vine_1111_04_cross:before {
    content: "\f2bd";
}
.icon-vine_1111_05_leaf:before {
    content: "\f2be";
}
.icon-vine_1111_06_bud:before {
    content: "\f2bf";
}
.icon-vine_1111_07_flower:before {
    content: "\f2c0";
}
.icon-vine_1111_08_fruit:before {
    content: "\f2c1";
}
.icon-vine_1111_09_root:before {
    content: "\f2c2";
}
.icon-vine_1111_10_node:before {
    content: "\f2c3";
}
.icon-vine_1112_00_empty:before {
    content: "\f2c4";
}
.icon-vine_1112_01_stem:before {
    content: "\f2c5";
}
.icon-vine_1112_02_corner:before {
    content: "\f2c6";
}
.icon-vine_1112_03_tee:before {
    content: "\f2c7";
}
.icon-vine_1112_04_cross:before {
    content: "\f2c8";
}
.icon-vine_1112_05_leaf:before {
    content: "\f2c9";
}
.icon-vine_1112_06_bud:before {
    content: "\f2ca";
}
.icon-vine_1112_07_flower:before {
    content: "\f2cb";
}
.icon-vine_1112_08_fruit:before {
    content: "\f2cc";
}
.icon-vine_1112_09_root:before {
    content: "\f2cd";
}
.icon-vine_1112_10_node:before {
    content: "\f2ce";
}
.icon-vine_1120_00_empty:before {
    content: "\f2cf";
}
.icon-vine_1120_01_stem:before {
    content: "\f2d0";
}
.icon-vine_1120_02_corner:before {
    content: "\f2d1";
}
.icon-vine_1120_03_tee:before {
    content: "\f2d2";
}
.icon-vine_1120_04_cross:before {
    content: "\f2d3";
}
.icon-vine_1120_05_leaf:before {
    content: "\f2d4";
}
.icon-vine_1120_06_bud:before {
    content: "\f2d5";
}
.icon-vine_1120_07_flower:before {
    content: "\f2d6";
}
.icon-vine_1120_08_fruit:before {
    content: "\f2d7";
}
.icon-vine_1120_09_root:before {
    content: "\f2d8";
}
.icon-vine_1120_10_node:before {
    content: "\f2d9";
}
.icon-vine_1121_00_empty:before {
    content: "\f2da";
}
.icon-vine_1121_01_stem:before {
    content: "\f2db";
}
.icon-vine_1121_02_corner:before {
    content: "\f2dc";
}
.icon-vine_1121_03_tee:before {
    content: "\f2dd";
}
.icon-vine_1121_04_cross:before {
    content: "\f2de";
}
.icon-vine_1121_05_leaf:before {
    content: "\f2df";
}
.icon-vine_1121_06_bud:before {
    content: "\f2e0";
}
.icon-vine_1121_07_flower:before {
    content: "\f2e1";
}
.icon-vine_1121_08_fruit:before {
    content: "\f2e2";
}
.icon-vine_1121_09_root:before {
    content: "\f2e3";
}
.icon-vine_1121_10_node:before {
    content: "\f2e4";
}
.icon-vine_1122_00_empty:before {
    content: "\f2e5";
}
.icon-vine_1122_01_stem:before {
    content: "\f2e6";
}
.icon-vine_1122_02_corner:before {
    content: "\f2e7";
}
.icon-vine_1122_03_tee:before {
    content: "\f2e8";
}
.icon-vine_1122_04_cross:before {
    content: "\f2e9";
}
.icon-vine_1122_05_leaf:before {
    content: "\f2ea";
}
.icon-vine_1122_06_bud:before {
    content: "\f2eb";
}
.icon-vine_1122_07_flower:before {
    content: "\f2ec";
}
.icon-vine_1122_08_fruit:before {
    content: "\f2ed";
}
.icon-vine_1122_09_root:before {
    content: "\f2ee";
}
.icon-vine_1122_10_node:before {
    content: "\f2ef";
}
.icon-vine_1200_00_empty:before {
    content: "\f2f0";
}
.icon-vine_1200_01_stem:before {
    content: "\f2f1";
}
.icon-vine_1200_02_corner:before {
    content: "\f2f2";
}
.icon-vine_1200_03_tee:before {
    content: "\f2f3";
}
.icon-vine_1200_04_cross:before {
    content: "\f2f4";
}
.icon-vine_1200_05_leaf:before {
    content: "\f2f5";
}
.icon-vine_1200_06_bud:before {
    content: "\f2f6";
}
.icon-vine_1200_07_flower:before {
    content: "\f2f7";
}
.icon-vine_1200_08_fruit:before {
    content: "\f2f8";
}
.icon-vine_1200_09_root:before {
    content: "\f2f9";
}
.icon-vine_1200_10_node:before {
    content: "\f2fa";
}
.icon-vine_1201_00_empty:before {
    content: "\f2fb";
}
.icon-vine_1201_01_stem:before {
    content: "\f2fc";
}
.icon-vine_1201_02_corner:before {
    content: "\f2fd";
}
.icon-vine_1201_03_tee:before {
    content: "\f2fe";
}
.icon-vine_1201_04_cross:before {
    content: "\f2ff";
}
.icon-vine_1201_05_leaf:before {
    content: "\f300";
}
.icon-vine_1201_06_bud:before {
    content: "\f301";
}
.icon-vine_1201_07_flower:before {
    content: "\f302";
}
.icon-vine_1201_08_fruit:before {
    content: "\f303";
}
.icon-vine_1201_09_root:before {
    content: "\f304";
}
.icon-vine_1201_10_node:before {
    content: "\f305";
}
.icon-vine_1202_00_empty:before {
    content: "\f306";
}
.icon-vine_1202_01_stem:before {
    content: "\f307";
}
.icon-vine_1202_02_corner:before {
    content: "\f308";
}
.icon-vine_1202_03_tee:before {
    content: "\f309";
}
.icon-vine_1202_04_cross:before {
    content: "\f30a";
}
.icon-vine_1202_05_leaf:before {
    content: "\f30b";
}
.icon-vine_1202_06_bud:before {
    content: "\f30c";
}
.icon-vine_1202_07_flower:before {
    content: "\f30d";
}
.icon-vine_1202_08_fruit:before {
    content: "\f30e";
}
.icon-vine_1202_09_root:before {
    content: "\f30f";
}
.icon-vine_1202_10_node:before {
    content: "\f310";
}
.icon-vine_1210_00_empty:before {
    content: "\f311";
}
.icon-vine_1210_01_stem:before {
    content: "\f312";
}
.icon-vine_1210_02_corner:before {
    content: "\f313";
}
.icon-vine_1210_03_tee:before {
    content: "\f314";
}
.icon-vine_1210_04_cross:before {
    content: "\f315";
}
.icon-vine_1210_05_leaf:before {
    content: "\f316";
}
.icon-vine_1210_06_bud:before {
    content: "\f317";
}
.icon-vine_1210_07_flower:before {
    content: "\f318";
}
.icon-vine_1210_08_fruit:before {
    content: "\f319";
}
.icon-vine_1210_09_root:before {
    content: "\f31a";
}
.icon-vine_1210_10_node:before {
    content: "\f31b";
}
.icon-vine_1211_00_empty:before {
    content: "\f31c";
}
.icon-vine_1211_01_stem:before {
    content: "\f31d";
}
.icon-vine_1211_02_corner:before {
    content: "\f31e";
}
.icon-vine_1211_03_tee:before {
    content: "\f31f";
}
.icon-vine_1211_04_cross:before {
    content: "\f320";
}
.icon-vine_1211_05_leaf:before {
    content: "\f321";
}
.icon-vine_1211_06_bud:before {
    content: "\f322";
}
.icon-vine_1211_07_flower:before {
    content: "\f323";
}
.icon-vine_1211_08_fruit:before {
    content: "\f324";
}
.icon-vine_1211_09_root:before {
    content: "\f325";
}
.icon-vine_1211_10_node:before {
    content: "\f326";
}
.icon-vine_1212_00_empty:before {
    content: "\f327";
}
.icon-vine_1212_01_stem:before {
    content: "\f328";
}
.icon-vine_1212_02_corner:before {
    content: "\f329";
}
.icon-vine_1212_03_tee:before {
    content: "\f32a";
}
.icon-vine_1212_04_cross:before {
    content: "\f32b";
}
.icon-vine_1212_05_leaf:before {
    content: "\f32c";
}
.icon-vine_1212_06_bud:before {
    content: "\f32d";
}
.icon-vine_1212_07_flower:before {
    content: "\f32e";
}
.icon-vine_1212_08_fruit:before {
    content: "\f32f";
}
.icon-vine_1212_09_root:before {
    content: "\f330";
}
.icon-vine_1212_10_node:before {
    content: "\f331";
}
.icon-vine_1220_00_empty:before {
    content: "\f332";
}
.icon-vine_1220_01_stem:before {
    content: "\f333";
}
.icon-vine_1220_02_corner:before {
    content: "\f334";
}
.icon-vine_1220_03_tee:before {
    content: "\f335";
}
.icon-vine_1220_04_cross:before {
    content: "\f336";
}
.icon-vine_1220_05_leaf:before {
    content: "\f337";
}
.icon-vine_1220_06_bud:before {
    content: "\f338";
}
.icon-vine_1220_07_flower:before {
    content: "\f339";
}
.icon-vine_1220_08_fruit:before {
    content: "\f33a";
}
.icon-vine_1220_09_root:before {
    content: "\f33b";
}
.icon-vine_1220_10_node:before {
    content: "\f33c";
}
.icon-vine_1221_00_empty:before {
    content: "\f33d";
}
.icon-vine_1221_01_stem:before {
    content: "\f33e";
}
.icon-vine_1221_02_corner:before {
    content: "\f33f";
}
.icon-vine_1221_03_tee:before {
    content: "\f340";
}
.icon-vine_1221_04_cross:before {
    content: "\f341";
}
.icon-vine_1221_05_leaf:before {
    content: "\f342";
}
.icon-vine_1221_06_bud:before {
    content: "\f343";
}
.icon-vine_1221_07_flower:before {
    content: "\f344";
}
.icon-vine_1221_08_fruit:before {
    content: "\f345";
}
.icon-vine_1221_09_root:before {
    content: "\f346";
}
.icon-vine_1221_10_node:before {
    content: "\f347";
}
.icon-vine_1222_00_empty:before {
    content: "\f348";
}
.icon-vine_1222_01_stem:before {
    content: "\f349";
}
.icon-vine_1222_02_corner:before {
    content: "\f34a";
}
.icon-vine_1222_03_tee:before {
    content: "\f34b";
}
.icon-vine_1222_04_cross:before {
    content: "\f34c";
}
.icon-vine_1222_05_leaf:before {
    content: "\f34d";
}
.icon-vine_1222_06_bud:before {
    content: "\f34e";
}
.icon-vine_1222_07_flower:before {
    content: "\f34f";
}
.icon-vine_1222_08_fruit:before {
    content: "\f350";
}
.icon-vine_1222_09_root:before {
    content: "\f351";
}
.icon-vine_1222_10_node:before {
    content: "\f352";
}
.icon-vine_2000_00_empty:before {
    content: "\f353";
}
.icon-vine_2000_01_stem:before {
    content: "\f354";
}
.icon-vine_2000_02_corner:before {
    content: "\f355";
}
.icon-vine_2000_03_tee:before {
    content: "\f356";
}
.icon-vine_2000_04_cross:before {
    content: "\f357";
}
.icon-vine_2000_05_leaf:before {
    content: "\f358";
}
.icon-vine_2000_06_bud:before {
    content: "\f359";
}
.icon-vine_2000_07_flower:before {
    content: "\f35a";
}
.icon-vine_2000_08_fruit:before {
    content: "\f35b";
}
.icon-vine_2000_09_root:before {
    content: "\f35c";
}
.icon-vine_2000_10_node:before {
    content: "\f35d";
}
.icon-vine_2001_00_empty:before {
    content: "\f35e";
}
.icon-vine_2001_01_stem:before {
    content: "\f35f";
}
.icon-vine_2001_02_corner:before {
    content: "\f360";
}
.icon-vine_2001_03_tee:before {
    content: "\f361";
}
.icon-vine_2001_04_cross:before {
    content: "\f362";
}
.icon-vine_2001_05_leaf:before {
    content: "\f363";
}
.icon-vine_2001_06_bud:before {
    content: "\f364";
}
.icon-vine_2001_07_flower:before {
    content: "\f365";
}
.icon-vine_2001_08_fruit:before {
    content: "\f366";
}
.icon-vine_2001_09_root:before {
    content: "\f367";
}
.icon-vine_2001_10_node:before {
    content: "\f368";
}
.icon-vine_2002_00_empty:before {
    content: "\f369";
}
.icon-vine_2002_01_stem:before {
    content: "\f36a";
}
.icon-vine_2002_02_corner:before {
    content: "\f36b";
}
.icon-vine_2002_03_tee:before {
    content: "\f36c";
}
.icon-vine_2002_04_cross:before {
    content: "\f36d";
}
.icon-vine_2002_05_leaf:before {
    content: "\f36e";
}
.icon-vine_2002_06_bud:before {
    content: "\f36f";
}
.icon-vine_2002_07_flower:before {
    content: "\f370";
}
.icon-vine_2002_08_fruit:before {
    content: "\f371";
}
.icon-vine_2002_09_root:before {
    content: "\f372";
}
.icon-vine_2002_10_node:before {
    content: "\f373";
}
.icon-vine_2010_00_empty:before {
    content: "\f374";
}
.icon-vine_2010_01_stem:before {
    content: "\f375";
}
.icon-vine_2010_02_corner:before {
    content: "\f376";
}
.icon-vine_2010_03_tee:before {
    content: "\f377";
}
.icon-vine_2010_04_cross:before {
    content: "\f378";
}
.icon-vine_2010_05_leaf:before {
    content: "\f379";
}
.icon-vine_2010_06_bud:before {
    content: "\f37a";
}
.icon-vine_2010_07_flower:before {
    content: "\f37b";
}
.icon-vine_2010_08_fruit:before {
    content: "\f37c";
}
.icon-vine_2010_09_root:before {
    content: "\f37d";
}
.icon-vine_2010_10_node:before {
    content: "\f37e";
}
.icon-vine_2011_00_empty:before {
    content: "\f37f";
}
.icon-vine_2011_01_stem:before {
    content: "\f380";
}
.icon-vine_2011_02_corner:before {
    content: "\f381";
}
.icon-vine_2011_03_tee:before {
    content: "\f382";
}
.icon-vine_2011_04_cross:before {
    content: "\f383";
}
.icon-vine_2011_05_leaf:before {
    content: "\f384";
}
.icon-vine_2011_06_bud:before {
    content: "\f385";
}
.icon-vine_2011_07_flower:before {
    content: "\f386";
}
.icon-vine_2011_08_fruit:before {
    content: "\f387";
}
.icon-vine_2011_09_root:before {
    content: "\f388";
}
.icon-vine_2011_10_node:before {
    content: "\f389";
}
.icon-vine_2012_00_empty:before {
    content: "\f38a";
}
.icon-vine_2012_01_stem:before {
    content: "\f38b";
}
.icon-vine_2012_02_corner:before {
    content: "\f38c";
}
.icon-vine_2012_03_tee:before {
    content: "\f38d";
}
.icon-vine_2012_04_cross:before {
    content: "\f38e";
}
.icon-vine_2012_05_leaf:before {
    content: "\f38f";
}
.icon-vine_2012_06_bud:before {
    content: "\f390";
}
.icon-vine_2012_07_flower:before {
    content: "\f391";
}
.icon-vine_2012_08_fruit:before {
    content: "\f392";
}
.icon-vine_2012_09_root:before {
    content: "\f393";
}
.icon-vine_2012_10_node:before {
    content: "\f394";
}
.icon-vine_2020_00_empty:before {
    content: "\f395";
}
.icon-vine_2020_01_stem:before {
    content: "\f396";
}
.icon-vine_2020_02_corner:before {
    content: "\f397";
}
.icon-vine_2020_03_tee:before {
    content: "\f398";
}
.icon-vine_2020_04_cross:before {
    content: "\f399";
}
.icon-vine_2020_05_leaf:before {
    content: "\f39a";
}
.icon-vine_2020_06_bud:before {
    content: "\f39b";
}
.icon-vine_2020_07_flower:before {
    content: "\f39c";
}
.icon-vine_2020_08_fruit:before {
    content: "\f39d";
}
.icon-vine_2020_09_root:before {
    content: "\f39e";
}
.icon-vine_2020_10_node:before {
    content: "\f39f";
}
.icon-vine_2021_00_empty:before {
    content: "\f3a0";
}
.icon-vine_2021_01_stem:before {
    content: "\f3a1";
}
.icon-vine_2021_02_corner:before {
    content: "\f3a2";
}
.icon-vine_2021_03_tee:before {
    content: "\f3a3";
}
.icon-vine_2021_04_cross:before {
    content: "\f3a4";
}
.icon-vine_2021_05_leaf:before {
    content: "\f3a5";
}
.icon-vine_2021_06_bud:before {
    content: "\f3a6";
}
.icon-vine_2021_07_flower:before {
    content: "\f3a7";
}
.icon-vine_2021_08_fruit:before {
    content: "\f3a8";
}
.icon-vine_2021_09_root:before {
    content: "\f3a9";
}
.icon-vine_2021_10_node:before {
    content: "\f3aa";
}
.icon-vine_2022_00_empty:before {
    content: "\f3ab";
}
.icon-vine_2022_01_stem:before {
    content: "\f3ac";
}
.icon-vine_2022_02_corner:before {
    content: "\f3ad";
}
.icon-vine_2022_03_tee:before {
    content: "\f3ae";
}
.icon-vine_2022_04_cross:before {
    content: "\f3af";
}
.icon-vine_2022_05_leaf:before {
    content: "\f3b0";
}
.icon-vine_2022_06_bud:before {
    content: "\f3b1";
}
.icon-vine_2022_07_flower:before {
    content: "\f3b2";
}
.icon-vine_2022_08_fruit:before {
    content: "\f3b3";
}
.icon-vine_2022_09_root:before {
    content: "\f3b4";
}
.icon-vine_2022_10_node:before {
    content: "\f3b5";
}
.icon-vine_2100_00_empty:before {
    content: "\f3b6";
}
.icon-vine_2100_01_stem:before {
    content: "\f3b7";
}
.icon-vine_2100_02_corner:before {
    content: "\f3b8";
}
.icon-vine_2100_03_tee:before {
    content: "\f3b9";
}
.icon-vine_2100_04_cross:before {
    content: "\f3ba";
}
.icon-vine_2100_05_leaf:before {
    content: "\f3bb";
}
.icon-vine_2100_06_bud:before {
    content: "\f3bc";
}
.icon-vine_2100_07_flower:before {
    content: "\f3bd";
}
.icon-vine_2100_08_fruit:before {
    content: "\f3be";
}
.icon-vine_2100_09_root:before {
    content: "\f3bf";
}
.icon-vine_2100_10_node:before {
    content: "\f3c0";
}
.icon-vine_2101_00_empty:before {
    content: "\f3c1";
}
.icon-vine_2101_01_stem:before {
    content: "\f3c2";
}
.icon-vine_2101_02_corner:before {
    content: "\f3c3";
}
.icon-vine_2101_03_tee:before {
    content: "\f3c4";
}
.icon-vine_2101_04_cross:before {
    content: "\f3c5";
}
.icon-vine_2101_05_leaf:before {
    content: "\f3c6";
}
.icon-vine_2101_06_bud:before {
    content: "\f3c7";
}
.icon-vine_2101_07_flower:before {
    content: "\f3c8";
}
.icon-vine_2101_08_fruit:before {
    content: "\f3c9";
}
.icon-vine_2101_09_root:before {
    content: "\f3ca";
}
.icon-vine_2101_10_node:before {
    content: "\f3cb";
}
.icon-vine_2102_00_empty:before {
    content: "\f3cc";
}
.icon-vine_2102_01_stem:before {
    content: "\f3cd";
}
.icon-vine_2102_02_corner:before {
    content: "\f3ce";
}
.icon-vine_2102_03_tee:before {
    content: "\f3cf";
}
.icon-vine_2102_04_cross:before {
    content: "\f3d0";
}
.icon-vine_2102_05_leaf:before {
    content: "\f3d1";
}
.icon-vine_2102_06_bud:before {
    content: "\f3d2";
}
.icon-vine_2102_07_flower:before {
    content: "\f3d3";
}
.icon-vine_2102_08_fruit:before {
    content: "\f3d4";
}
.icon-vine_2102_09_root:before {
    content: "\f3d5";
}
.icon-vine_2102_10_node:before {
    content: "\f3d6";
}
.icon-vine_2110_00_empty:before {
    content: "\f3d7";
}
.icon-vine_2110_01_stem:before {
    content: "\f3d8";
}
.icon-vine_2110_02_corner:before {
    content: "\f3d9";
}
.icon-vine_2110_03_tee:before {
    content: "\f3da";
}
.icon-vine_2110_04_cross:before {
    content: "\f3db";
}
.icon-vine_2110_05_leaf:before {
    content: "\f3dc";
}
.icon-vine_2110_06_bud:before {
    content: "\f3dd";
}
.icon-vine_2110_07_flower:before {
    content: "\f3de";
}
.icon-vine_2110_08_fruit:before {
    content: "\f3df";
}
.icon-vine_2110_09_root:before {
    content: "\f3e0";
}
.icon-vine_2110_10_node:before {
    content: "\f3e1";
}
.icon-vine_2111_00_empty:before {
    content: "\f3e2";
}
.icon-vine_2111_01_stem:before {
    content: "\f3e3";
}
.icon-vine_2111_02_corner:before {
    content: "\f3e4";
}
.icon-vine_2111_03_tee:before {
    content: "\f3e5";
}
.icon-vine_2111_04_cross:before {
    content: "\f3e6";
}
.icon-vine_2111_05_leaf:before {
    content: "\f3e7";
}
.icon-vine_2111_06_bud:before {
    content: "\f3e8";
}
.icon-vine_2111_07_flower:before {
    content: "\f3e9";
}
.icon-vine_2111_08_fruit:before {
    content: "\f3ea";
}
.icon-vine_2111_09_root:before {
    content: "\f3eb";
}
.icon-vine_2111_10_node:before {
    content: "\f3ec";
}
.icon-vine_2112_00_empty:before {
    content: "\f3ed";
}
.icon-vine_2112_01_stem:before {
    content: "\f3ee";
}
.icon-vine_2112_02_corner:before {
    content: "\f3ef";
}
.icon-vine_2112_03_tee:before {
    content: "\f3f0";
}
.icon-vine_2112_04_cross:before {
    content: "\f3f1";
}
.icon-vine_2112_05_leaf:before {
    content: "\f3f2";
}
.icon-vine_2112_06_bud:before {
    content: "\f3f3";
}
.icon-vine_2112_07_flower:before {
    content: "\f3f4";
}
.icon-vine_2112_08_fruit:before {
    content: "\f3f5";
}
.icon-vine_2112_09_root:before {
    content: "\f3f6";
}
.icon-vine_2112_10_node:before {
    content: "\f3f7";
}
.icon-vine_2120_00_empty:before {
    content: "\f3f8";
}
.icon-vine_2120_01_stem:before {
    content: "\f3f9";
}
.icon-vine_2120_02_corner:before {
    content: "\f3fa";
}
.icon-vine_2120_03_tee:before {
    content: "\f3fb";
}
.icon-vine_2120_04_cross:before {
    content: "\f3fc";
}
.icon-vine_2120_05_leaf:before {
    content: "\f3fd";
}
.icon-vine_2120_06_bud:before {
    content: "\f3fe";
}
.icon-vine_2120_07_flower:before {
    content: "\f3ff";
}
.icon-vine_2120_08_fruit:before {
    content: "\f400";
}
.icon-vine_2120_09_root:before {
    content: "\f401";
}
.icon-vine_2120_10_node:before {
    content: "\f402";
}
.icon-vine_2121_00_empty:before {
    content: "\f403";
}
.icon-vine_2121_01_stem:before {
    content: "\f404";
}
.icon-vine_2121_02_corner:before {
    content: "\f405";
}
.icon-vine_2121_03_tee:before {
    content: "\f406";
}
.icon-vine_2121_04_cross:before {
    content: "\f407";
}
.icon-vine_2121_05_leaf:before {
    content: "\f408";
}
.icon-vine_2121_06_bud:before {
    content: "\f409";
}
.icon-vine_2121_07_flower:before {
    content: "\f40a";
}
.icon-vine_2121_08_fruit:before {
    content: "\f40b";
}
.icon-vine_2121_09_root:before {
    content: "\f40c";
}
.icon-vine_2121_10_node:before {
    content: "\f40d";
}
.icon-vine_2122_00_empty:before {
    content: "\f40e";
}
.icon-vine_2122_01_stem:before {
    content: "\f40f";
}
.icon-vine_2122_02_corner:before {
    content: "\f410";
}
.icon-vine_2122_03_tee:before {
    content: "\f411";
}
.icon-vine_2122_04_cross:before {
    content: "\f412";
}
.icon-vine_2122_05_leaf:before {
    content: "\f413";
}
.icon-vine_2122_06_bud:before {
    content: "\f414";
}
.icon-vine_2122_07_flower:before {
    content: "\f415";
}
.icon-vine_2122_08_fruit:before {
    content: "\f416";
}
.icon-vine_2122_09_root:before {
    content: "\f417";
}
.icon-vine_2122_10_node:before {
    content: "\f418";
}
.icon-vine_2200_00_empty:before {
    content: "\f419";
}
.icon-vine_2200_01_stem:before {
    content: "\f41a";
}
.icon-vine_2200_02_corner:before {
    content: "\f41b";
}
.icon-vine_2200_03_tee:before {
    content: "\f41c";
}
.icon-vine_2200_04_cross:before {
    content: "\f41d";
}
.icon-vine_2200_05_leaf:before {
    content: "\f41e";
}
.icon-vine_2200_06_bud:before {
    content: "\f41f";
}
.icon-vine_2200_07_flower:before {
    content: "\f420";
}
.icon-vine_2200_08_fruit:before {
    content: "\f421";
}
.icon-vine_2200_09_root:before {
    content: "\f422";
}
.icon-vine_2200_10_node:before {
    content: "\f423";
}
.icon-vine_2201_00_empty:before {
    content: "\f424";
}
.icon-vine_2201_01_stem:before {
    content: "\f425";
}
.icon-vine_2201_02_corner:before {
    content: "\f426";
}
.icon-vine_2201_03_tee:before {
    content: "\f427";
}
.icon-vine_2201_04_cross:before {
    content: "\f428";
}
.icon-vine_2201_05_leaf:before {
    content: "\f429";
}
.icon-vine_2201_06_bud:before {
    content: "\f42a";
}
.icon-vine_2201_07_flower:before {
    content: "\f42b";
}
.icon-vine_2201_08_fruit:before {
    content: "\f42c";
}
.icon-vine_2201_09_root:before {
    content: "\f42d";
}
.icon-vine_2201_10_node:before {
    content: "\f42e";
}
.icon-vine_2202_00_empty:before {
    content: "\f42f";
}
.icon-vine_2202_01_stem:before {
    content: "\f430";
}
.icon-vine_2202_02_corner:before {
    content: "\f431";
}
.icon-vine_2202_03_tee:before {
    content: "\f432";
}
.icon-vine_2202_04_cross:before {
    content: "\f433";
}
.icon-vine_2202_05_leaf:before {
    content: "\f434";
}
.icon-vine_2202_06_bud:before {
    content: "\f435";
}
.icon-vine_2202_07_flower:before {
    content: "\f436";
}
.icon-vine_2202_08_fruit:before {
    content: "\f437";
}
.icon-vine_2202_09_root:before {
    content: "\f438";
}
.icon-vine_2202_10_node:before {
    content: "\f439";
}
.icon-vine_2210_00_empty:before {
    content: "\f43a";
}
.icon-vine_2210_01_stem:before {
    content: "\f43b";
}
.icon-vine_2210_02_corner:before {
    content: "\f43c";
}
.icon-vine_2210_03_tee:before {
    content: "\f43d";
}
.icon-vine_2210_04_cross:before {
    content: "\f43e";
}
.icon-vine_2210_05_leaf:before {
    content: "\f43f";
}
.icon-vine_2210_06_bud:before {
    content: "\f440";
}
.icon-vine_2210_07_flower:before {
    content: "\f441";
}
.icon-vine_2210_08_fruit:before {
    content: "\f442";
}
.icon-vine_2210_09_root:before {
    content: "\f443";
}
.icon-vine_2210_10_node:before {
    content: "\f444";
}
.icon-vine_2211_00_empty:before {
    content: "\f445";
}
.icon-vine_2211_01_stem:before {
    content: "\f446";
}
.icon-vine_2211_02_corner:before {
    content: "\f447";
}
.icon-vine_2211_03_tee:before {
    content: "\f448";
}
.icon-vine_2211_04_cross:before {
    content: "\f449";
}
.icon-vine_2211_05_leaf:before {
    content: "\f44a";
}
.icon-vine_2211_06_bud:before {
    content: "\f44b";
}
.icon-vine_2211_07_flower:before {
    content: "\f44c";
}
.icon-vine_2211_08_fruit:before {
    content: "\f44d";
}
.icon-vine_2211_09_root:before {
    content: "\f44e";
}
.icon-vine_2211_10_node:before {
    content: "\f44f";
}
.icon-vine_2212_00_empty:before {
    content: "\f450";
}
.icon-vine_2212_01_stem:before {
    content: "\f451";
}
.icon-vine_2212_02_corner:before {
    content: "\f452";
}
.icon-vine_2212_03_tee:before {
    content: "\f453";
}
.icon-vine_2212_04_cross:before {
    content: "\f454";
}
.icon-vine_2212_05_leaf:before {
    content: "\f455";
}
.icon-vine_2212_06_bud:before {
    content: "\f456";
}
.icon-vine_2212_07_flower:before {
    content: "\f457";
}
.icon-vine_2212_08_fruit:before {
    content: "\f458";
}
.icon-vine_2212_09_root:before {
    content: "\f459";
}
.icon-vine_2212_10_node:before {
    content: "\f45a";
}
.icon-vine_2220_00_empty:before {
    content: "\f45b";
}
.icon-vine_2220_01_stem:before {
    content: "\f45c";
}
.icon-vine_2220_02_corner:before {
    content: "\f45d";
}
.icon-vine_2220_03_tee:before {
    content: "\f45e";
}
.icon-vine_2220_04_cross:before {
    content: "\f45f";
}
.icon-vine_2220_05_leaf:before {
    content: "\f460";
}
.icon-vine_2220_06_bud:before {
    content: "\f461";
}
.icon-vine_2220_07_flower:before {
    content: "\f462";
}
.icon-vine_2220_08_fruit:before {
    content: "\f463";
}
.icon-vine_2220_09_root:before {
    content: "\f464";
}
.icon-vine_2220_10_node:before {
    content: "\f465";
}
.icon-vine_2221_00_empty:before {
    content: "\f466";
}
.icon-vine_2221_01_stem:before {
    content: "\f467";
}
.icon-vine_2221_02_corner:before {
    content: "\f468";
}
.icon-vine_2221_03_tee:before {
    content: "\f469";
}
.icon-vine_2221_04_cross:before {
    content: "\f46a";
}
.icon-vine_2221_05_leaf:before {
    content: "\f46b";
}
.icon-vine_2221_06_bud:before {
    content: "\f46c";
}
.icon-vine_2221_07_flower:before {
    content: "\f46d";
}
.icon-vine_2221_08_fruit:before {
    content: "\f46e";
}
.icon-vine_2221_09_root:before {
    content: "\f46f";
}
.icon-vine_2221_10_node:before {
    content: "\f470";
}
.icon-vine_2222_00_empty:before {
    content: "\f471";
}
.icon-vine_2222_01_stem:before {
    content: "\f472";
}
.icon-vine_2222_02_corner:before {
    content: "\f473";
}
.icon-vine_2222_03_tee:before {
    content: "\f474";
}
.icon-vine_2222_04_cross:before {
    content: "\f475";
}
.icon-vine_2222_05_leaf:before {
    content: "\f476";
}
.icon-vine_2222_06_bud:before {
    content: "\f477";
}
.icon-vine_2222_07_flower:before {
    content: "\f478";
}
.icon-vine_2222_08_fruit:before {
    content: "\f479";
}
.icon-vine_2222_09_root:before {
    content: "\f47a";
}
.icon-vine_2222_10_node:before {
    content: "\f47b";
}
